<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.ripeda.privileges-watchdog.auto-start</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/Privileges.app/Contents/Resources/RIPEDA-Privileges-Watchdog</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/var/log/Privileges-Watchdog-STDERR.log</string>
	<key>StandardOutPath</key>
	<string>/var/log/Privileges-Watchdog-STDOUT.log</string>
</dict>
</plist>
